ion-content{
    --background:linear-gradient(to right, #2f94c3, #86c7df);
}

*{
    font-weight: 300;
}


ion-text{
    h1{
        font-size: 42px;
    }
    p{
        font-size: 14;
        color: #5d5858;
    }
}

ion-avatar{
    height: 12px;
    width: 12px;
    margin-right: 7px;
}

ion-input{
    margin-bottom: 28px;
}

ion-label{
    padding-left: 10px;
}

ion-img{
    margin-top: 40px;
}

ion-icon{
    padding-right: 12px;
}