<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot = "start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main_content">

    <div class="user_div">
      <div class="first_div">
        <ion-label class="bienvenido">Bienvenido</ion-label>
        <ion-label class="usuario">{{ nombreUsuario }}</ion-label>
      </div>
      <div class="user_back" [style.backgroundImage]="'url(assets/icon/pfp-cat.jpg)'"></div>
    </div>

    <div class="content_div">

    </div>
  </div>
  <img src="assets/icon/wip.gif" alt="trabajo en progreso">
</ion-content>
