<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="chevron-back" slot="start"></ion-icon>
        Volver</ion-button>
    </ion-buttons>
    <ion-title>asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let asistencia of asistencias">
      <ion-label>{{ asistencia.fecha }}</ion-label>
      <ion-label>{{ asistencia.mensaje }}</ion-label>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="borrarAsistencias()">Borrar Asistencias</ion-button>
</ion-content>