<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Cámara
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="full" (click)="takePicture()">Tomar Foto</ion-button>

  <div *ngIf="imageSource">
    <img [src]="imageSource" alt="Captured Image">
  </div>

  <div *ngIf="qrResult !== null">
    <p>Resultado del Codigo QR: <a>{{ qrResult }}</a></p>
  </div>
</ion-content>
